:root {
    --clr-green: #1ed760;
    --clr-white: white;
    --clr-black: rgba(25, 20, 20, 0.7);
}

@font-face {
    font-family: "Gotham Medium";
    src: url("font/Gotham\ Medium\ Regular.ttf") format("truetype");
}

* {
    font-family: "Gotham Medium";
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%), url("images/pexels-vlado-paunovic-10457996.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.container {
    width: 100%;
    margin: 3.125rem auto 1em auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    form {
        border-radius: 15px;
    }
}

header {
    text-align: center;
    color: var(--clr-white);
}

#description {
    font-style: italic;
}

form {
    padding: 2.5em;
    padding-bottom: 1.5em;
    background-color: var(--clr-black);
    color: var(--clr-white);
    font-size: 1.25em;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1em;
}

.form-group p {
    margin-bottom: 10px;
}

.text-input {
    box-sizing: border-box;
    height: 2em;
    border-radius: 5px;
    padding-left: 10px;
}

textarea {
    height: 200px;
    border-radius: 5px;
}

.text-input, textarea {
    font-size: inherit;
    border: none;
}

#submit {
    background-color: var(--clr-green);
    padding: 10px 0;
    font-size: 1.5em;
    border-radius: 10px;
    border: none;
    color: var(--clr-white);
    margin-top: 10px;
}

#submit:hover {
    background-color: #16a147;
}